@import "./const"
@import "./variable"
@import "./function"
@import "./class"
@import "./common"
@import "./animation"

@font-face {
  font-family: 'iconfont';  /* project id 819698 */
  src: url('//at.alicdn.com/t/font_819698_npl6lf7emf.eot');
  src: url('//at.alicdn.com/t/font_819698_npl6lf7emf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_819698_npl6lf7emf.woff') format('woff'),
  url('//at.alicdn.com/t/font_819698_npl6lf7emf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_819698_npl6lf7emf.svg#iconfont') format('svg');
}
