// 白色
color255 = #ffffff
// 黑色
color0 = #000000
// 浅灰
color1 = #f2f4f5
// 蓝色
color2 = #409fff
// 绿色
color3 = #329800
// 文字浅灰
color4 = #979899
// 文字黑色
color5 = #303133
// 深灰
color6 = #e4e7eb
// 黄色
color7 = #da8c00
// 红色
color8 = #fe3b30
// 浅灰 比color1 还要浅的
color9 = #edeef0
// 比color0浅一点的黑
color10 = #242b33
